.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table{
  border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

thead th{
  border-bottom: 2px solid #dedede;
}

td{
  border-bottom: 1px solid #dedede;
}

th,td{
  text-align: left;
  padding: 0.5rem;
}

tfoot th {
  border-top: 2px solid #dedede;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.button{
  display: inline-block;
  border: 1px solid #0366ee;
  background: #0366ee;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: 0.75rem 1.25rem;
    margin: 0 0 0.5rem 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
}

.muted-button{
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}

.container{
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;
}

.small-container{
  max-width: 800px;
  padding: 0 1rem;
  margin: auto;
}

input{
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  
}

label{
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 0.5rem;
}